# Development Settings
#DEBUG=True
#SECRET_KEY=django-insecure--fi(4)8+6a)pi4%-038_4^7mos$)&85cdsk1)znfr5(sx1pb%6
#ALLOWED_HOSTS=localhost,127.0.0.1

# Production Settings
DEBUG=False
SECRET_KEY=nyG8vBm4zsLxxYrbWEyFRd6oiCnGspBFSETfyAe1r8MfLs5_hpJd0vQ1qGvbJifIhZY
ALLOWED_HOSTS=cataphract.ir,www.cataphract.ir

# Database
DATABASE_URL=sqlite:///db.sqlite3
# DATABASE_URL=mysql://user:password@host/dbname
# DATABASE_URL=postgresql://user:password@host/dbname

# Email (optional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your-email@gmail.com
# EMAIL_HOST_PASSWORD=your-app-password

# Logging
DJANGO_LOG_LEVEL=INFO

# Security (Production)
# CSRF_COOKIE_SECURE=True
# SESSION_COOKIE_HTTPONLY = True
# CSRF_COOKIE_HTTPONLY = True

# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# Cloudflare Trurnstile
# TURNSTILE_SITE_KEY=0x4AAAAAAA...
# TURNSTILE_SECRET_KEY=0x4AAAAAAA...
