<nav class="bottom-nav">
    <a href="{% url 'accounts:dashboard' %}"><i class="bi bi-grid-fill"></i><span>پیشخوان</span></a>
    <a href="{% url 'students:student_list' %}"><i class="bi bi-people"></i><span>هنرجوها</span></a>
    <a href="{% url 'students:attendance' %}"><i class="bi bi-calendar-check"></i><span>حضور</span></a>
    <a href="{% url 'clubs:club_list' %}"><i class="bi bi-building"></i><span>باشگاه‌ها</span></a>
    <a href="#" id="moreBtn"><i class="bi bi-three-dots"></i><span>بیشتر</span></a>
</nav>