{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    
    <title>{% block title %}باشگاه ستاره‌ها | هاپکیدو{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/htmx/htmx.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <script>
        $(document).ready(function() {
            // همه selectهایی که کلاس input-glass دارن
            $('select.input-glass').select2({
                width: '100%',
                dir: 'rtl',
                language: { noResults: function() { return "موردی یافت نشد"; } }
            });
        });
    </script>
</body>
</html>